@model List<ASP.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about our amazing products!</p>
</div>

<div>
    <!-- Вывести карточки товаров здесь -->
    @if (Model != null && Model.Any())
    {
        @foreach (var product in Model)
        {
            <div>
                <h3>@product.Name</h3>
                <p>@product.Description</p>
                <p>@product.Price</p>
            </div>
        }
    }
    else
    {
        <p>No products available.</p>
    }
</div>
